body{
    background-color: lightgreen;
}

.login{
    background-color: white;
    margin: 3rem 24rem 24rem 24rem;
    text-align: center;
    border-radius: 1rem;
    border-color:gray 1rem;
}

.box{
    text-align: left;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

.button{
    padding-left: 5rem;
    border-radius: 5rem;
}

.Lbutton{
    margin-left: 2rem;
    padding: .4rem;
}

.Fbutton{
    padding: .4rem;
    background-color: orange;
    border-color: orange;
    color: white;
}